.teste {
  margin-top: 240px !important;
}

.button-delete {
  margin: 6px;
}

th.action {
  text-align: center;
}
// td {
//   text-align: center;
// }

.buttons-actions {
  text-align: center;
}

.name {
  margin-left: 73px;
}
