<div class="modal-content">
  <div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">
      {{ title }}
    </h4>
  </div>
  <div class="modal-body">
    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>login</mat-label>
        <input
          matInput
          #login
          maxlength="10"
          placeholder="Ex. exemple@example.com"
        />
        <mat-hint align="end">{{ login.value.length }}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Password</mat-label>
        <input matInput #password maxlength="10" placeholder="Ex. *******" />
        <mat-hint align="end">{{ password.value.length }}/10</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="updateUser()">OK</button>
  </div>
</div>
